@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}
<div id="page-content">
<br />
<section class="product-grid twelve columns alpha omega">
    @foreach (var p in Model.Products)
    {
        Html.RenderPartial("ProductSummary", p);
    }
</section>

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>
</div>